@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--clr-white);
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    background: var(--clr-black);
    height: 100vh;
    width: 100%;
    padding: 2%;
    text-align: center;
    grid-gap: 2%;
}
.title{
  width: 100%;
  border-radius: 25px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--clr-gray);
}
.medium{
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 100%;
  }
  
  .search-header__input {
    font-family: inherit;
    font-size: 16px;
    background-color: #0a0a0a;
    border: solid 0.5px #525252;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 25px;
    width: 100%;
    height: 5vh;
    transition: all ease-in-out 0.5s;
    margin-right: -2rem;
    opacity: 1;
    text-align: center;
  }
  
  .search-header__input:hover,
  .search-header__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search-header__input:focus {
    outline: none;
    background-color: #0a0a0aad;
  }
  
  .search-header__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #3a3a3a;
  }
  
  .search-header__input:focus + .search-header__button {
    background-color: transparent;
  }
  
  .search-header__button {
    border: none;
    background-color: transparent;
    margin-top: 0.5em;
    margin-right: 1em;
  }
  
  .search-header__button:hover {
    cursor: pointer;
  }
  
  .search-header__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #3a3a3a;
  }
.left{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.contenedor{
    display: flex;
    flex-direction: column;
    background: var(--clr-gray);
    border-radius: 25px;
    padding: 5%;
}
.topChart{
  margin-bottom: 2%;
}
.album_grande{
    grid-gap: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 45vh;
    width: 100%;
    overflow: auto;
    align-items: center;
    text-transform: uppercase;
}
.album{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.imagen_album img{
    border-radius: 10%;
    width: 100%;
    height: auto;
}
::-webkit-scrollbar{
    width: 10%;
}
.portada{
    width: 100%;
    object-fit: cover;
}
.album_order, .track_order{
  cursor: pointer;
  width: 100%;
  height: auto;
  padding: 5%;
}
.album_order:hover, .track_order:hover{
  background: #3a3a3a;
  border-radius: 10%;
}

@media (width < 800px){
  .container{
    grid-template-columns: 1fr;
    width: 100%;
    height: 100vh;
  }
}